@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Dancing+Script:wght@700&family=Kalam:wght@700&family=Libre+Baskerville&family=Lilita+One&family=Montserrat:ital,wght@1,400;1,700&family=Mulish:ital,wght@1,400;1,600;1,700&family=MuseoModerno:wght@700&family=Open+Sans&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,700&family=Roboto:ital,wght@1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing:border-box;
}


textarea{
    overflow:auto;
}

body{
  margin:0;
  padding:0;
 font-family: 'Open Sans', sans-serif;
scroll-behavior: smooth;
}


.fijo{
width: 100%;
height:150px;

background-color:black;
margin-bottom:0;

}


h1{
text-align:center;
font-size:60px;
color:white;

}

nav{
    display:flex;
    justify-content:center;
    text-align:center;
    margin:auto;
    
}

nav a{
    padding:16px;
    text-decoration: none;
    color:black;
   margin-top:-35px;

}

a:hover{
    color:#F07BE4;
    font-size:20px;
    
}

a:visited{
    
    font-weight:bold;
   border:1px solid  #F42EDD;
   border-left:grey;
   border-right:grey;
}


footer{
    background-color:black;
    display:flex;
    justify-content:space-around;
    height:300px;

}

footer a{
    color:white;
    font-size:14px;
    text-decoration:none;
    
}

footer a:hover{
    color:#F07BE4;
    text-decoration:underline #F07BE4;
    font-size:16px; 

}


footer p{
    color:white;
    font-size:14px;
}

footer img{
    width:20px;
    
}

.llamada{
    display:flex;
    justify-content:space-evenly;
   margin-right:240px;
   margin-bottom:10px;
    

}

.gmail{
    display:flex;
    justify-content:space-evenly;
   margin-right:195px;
   margin-bottom:10px;
}

.localizacion{
    display:flex;
    justify-content:space-evenly;
   margin-right:100px;
   margin-bottom:10px;
}





.instagram{
    height:100px;
    display:flex;
    justify-content:center;
    text-align:center;
    margin:auto;

}

.logo{
    font-size:55px;
    text-decoration:none;
    color:#F07BE4;
    font-family: 'Lilita One', cursive;

}

.logo:hover{
    color:rgb(128, 128, 128);
}


h3{
    color:white;
    font-size:17px;
    margin-top:25px;
}

.valmour{
   margin-right:150px;
    
}

section{
    position:sticky;
    background: linear-gradient(0deg, rgba(46,46,46,0.12228641456582634) 0%, rgba(103,103,103,0.09147408963585435) 100%);
    width:100%;
    height:50px;
    top:20px;
    
}
.registrarse{
    display:flex;
    justify-content:flex-end;
    margin-top:50px;
   

    
}

.registrarse a{
    text-decoration:none;
    color:black;
    padding:5px;
    display:flex;
    justify-content:space-around;
    
    

}

.registrarse a:hover{
    color:#F07BE4; ;
    text-decoration:underline#F07BE4; 
    font-size:18px;
    
}

.pagos img{
width:50px;
margin:5px;
}

.pagos{
    
    margin-top:10px;
    margin-left:40%;
 
}


.heartValmour{
    display:flex;
    justify-content:space-evenly;
    margin-right:110px;
}

.heartValmour img{
    width:25px;
    height:25px;
    margin-top:23px;
    margin-right:5px;
}

.instagram img{
    width:70px;
    height:70px;
    margin-top:15px;
    margin-right:10px;

    
}





envios{
    width:100%;
    height:40px;
    
    
    margin-top:0;
    

}

.envios p{
    color:white;
    text-align:center;
}

.logoWhatsapp{
    
width:50px;
height:200px;


 margin-left:95%;
 position:fixed;
 top:850px;
 

 
  
 
  

  
   
}

.logoWhatsapp img{
    width:60px;
   
}

.redesSociales{
    display:flex;
    justify-content:flex-end;
    margin-top:44px;
    

}
.redesSociales img{
width:40px;
margin:15px;
height:40px;

}

.newsletter{
display:flex;
justify-content:space-around;

}

.newsletter form{
    margin-right:55%;
   

}


.newsletter p{
    font-size:20px;
    color:#FD5D9D;
    font-weight:bold;
}


.newsletter input[type="email"]{
width:300px;
height:40px;
border-radius:0.4rem;
border:1.9px solid black;

        
}

button{
    width:100px;
    height:40px;
    color:white;
    border:black;
    background-color:black;
    border-radius:0.4rem;
    font-size:13px;
    

}

button:hover{
    color: white;
    background-color:#FD5D9D;
    
}

.Accesorios{
    display:inline;
    font-weight:bold;
}
#inicio{
    text-decoration:none;
    color:black;
}

#inicio:hover{
    text-decoration:underline;
}

.registrarse img{
    margin-left:5px;
    margin-right:15px;
    width:35px;
    height:35px;
}

.registrarse img:hover{
    content: url(../assets/imagenes/bolsacompras2.png);
    opacity:75%;
}


#productimg{
    display:flex;
    justify-content:flex-end;
    width:1500px;
    height:800px;
}

#productimg img{
    width:650px;
    height:650px;

}

#productimg img:hover{

    
    content: url(../assets/imagenes/carterarosa2.webp);

}

#fotoVansBordo:hover{
    content:url(../assets/imagenes/vansBordo2.jpg);
}


#fotoBotaVans img:hover{
    content:url(../assets/imagenes/botavans2.jpg);
}

#fotoVansazul img:hover{
    content:url(../assets/imagenes/vansazul2.jpg);
}

#fotoMochilaLv img:hover{
    content:url(../assets/imagenes/lv2.jpg);
}

#fotoMochilaPink img:hover{
    content:url(../assets/imagenes/mochilarosa2.jpg);
}

#fotoCarteraBlanca img:hover{
    content:url(../assets/imagenes/carterablanca2.jpg);
}

#fotoVsTease img:hover{
    content:url(../assets/imagenes/victoriassecrettease2.jpg);
}

#fotoVsBombshell img:hover{
    content:url(../assets/imagenes/victoriassecretperfume2.jpg);
}

#fotoPerfumeBlush img:hover{
    content:url(../assets/imagenes/goodgirl2.webp);
}
#fotoPerfumeLancome img:hover{
    content:url(../assets/imagenes/lavidaesbellaperfume2.jpg);
}

#fotoPerfumeMonParis img:hover{
    content:url(../assets/imagenes/vsperfumemonparis2.jpg);
}

#fotoPerfumeMarcJacobs img:hover{
    content:url(../assets/imagenes/marcjacobsperfume2.jpg);
}
h5{
    font-size: 30px;
    font-weight:bold;
    color:#FD5D9D;
    margin-bottom:65px;
    
    

}

#productimg p{
    font-size:30px;
}

#productimg button{
    width:300px;
    height:45px;
    font-size:19px;
    margin-bottom:165px;
    margin-top:60px;
    
}

#detailscoral{
    margin-left:40px;
}

#detailscoral input[type=text]{
    width:300px;
    height:42px;
}

#Description{
    display:flex;
    justify-content:space-around;
 
}
#producto1{
    width:450px;
    height:520px;
    margin-left:80px;
    margin-right:70px;
    

    
    
}

#producto1 img{
    width:450px;
    height:520px;
  
}


#fotoProducto{
    display:flex;
    justify-content:space-arround;
    margin-bottom:40px;
}

#fotoProducto img:hover{
    border:1px solid black;
}


#fotoProducto p{
text-align:center;
}
.infoProducto {
    display:flex;
    justify-content:space-around;
    
}

#producto2{
    width:450px;
    height:520px;
    
    margin:30px;
    margin-top:-0.5px;
    margin-left:80px;
    margin-right:0px;
}

#producto2 img{
    width:450px;
    height:520px;
}



#producto3{
    width:450px;
    height:520px;
   
    margin-left:180px;
    
}

#producto3 img{
    width:445px;
    height:520px;

}

#img-carrito{
    width: 40px;
    height:40px;

}

.carrito-compras{
    display:flex;
    justify-content:space-evenly;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

.carrito-compras p{
    margin-right:200px;
    display:flex;
    font-weight:bold;
}

#detalle-compra{
    width:600px;
    height:650px;
   
    display:none;
    margin-left:67.5%;
    position:absolute;
    background-color:white;
   
   

}

#detalle-compra h6{
    font-size:14px;
    font-weight:bold;
    

}

#btn-carrito h6{
  
  margin-bottom:7px;
}

#carrito-vacio{
    text-align:center;
    font-size:20px;
    font-weight:bold;
color:#FD5D9D;
}

#menu-horizontal{
    list-style:none;
    display:flex;
    justify-content:space-around;

}

#menu-horizontal >li>a{
display:block;
padding:15px 20px;
text-decoration:none;

}

#menu-vertical{
position:absolute;
display:none;
list-style:none;
margin-top:-10px;
width:170px;
font-weight:bold;
background: linear-gradient(0deg, rgba(241,175,210,0.35898109243697474) 0%, rgba(167,163,163,0.30015756302521013) 43%, rgba(241,175,210,0.4654236694677871) 100%);

font-size:15px;


}
#menu-vertical a:hover{
    font-size:15px;
}

#menu-horizontal li:hover #menu-vertical{
display:block;

}
#menu-vertical li{

 border:1px solid grey;
 padding-top:5px;
 padding-bottom:5px;
 
border-left:none;
border-right:none;


}
